html {
  /* background-image: url('/assets/img/dark_texture.jpg'); */
  background: rgba(128, 128, 128, 0.609);
}

p {
  background-color: black;
  padding: 10px;
  color: white;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

h2 {
  text-align: center;
}