body {
	height:100vh;
	width:100vw;
	background-image: url('/assets/img/dark_texture.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin:0px;
}

a {
	color: blue;
	font-size: 24px;
	background-color: black;
}

div {
	width: 90vh;
	height: 90vh;
	margin:auto;
	border:6px solid black;
	border-radius: 30px;
	padding:.5vw;
	background-color: black;
}

img {
	width:10vh;
	height:10vh;
	padding: 0px;
	margin:0px;
}

table, tr, td {
	padding: 0px;
	border-spacing: 0px;
	margin:0px;
	border:0px;
	line-height:0px;
}

.victoryScreen {
	background-image: url('/assets/img/scary_house.jpeg');
	background-size: cover;
}

.victoryScreen > h1 {
	font-size: 8vh;
	color: peachpuff;
	font-family: 'Blackadder ITC';
	margin-left: 45vh;
	margin-top:80vh;
	transform: translate(-50%, -50%);
}

.lostScreen {
	background-image: url('/assets/img/trapped_person.jpeg');
	background-size: cover;
}

.startingScreen {
	background-image: url('/assets/img/introPicture.jpg');
	background-size: cover;
}

.startingScreen > #formsHere {
	margin-top: 70vh;
	margin-left: 25vh;
}

#formsHere > label {
	font-size: 8vh;
	color: maroon;
	font-family: 'Blackadder ITC';
}