div {
	width: 90vw;
	height: 90vh;
	margin-left:5vw;
}

img {
	width:10vw;
	height:10vh;
	padding: 0px;
	margin:0px;
}

table, tr, td {
	padding: 0px;
	border-spacing: 0px;
	margin:0px;
	border:0px;
}