/*css*/

/*IN PROGRESS: build out some of the broad style choices like for; #container > table > tr > td > img {width:Xvw;height:Yvh;}*/

h1 {
    height: 60px;
    font-size: 9vh;
    text-align: center;
    padding-bottom: 35px;
    border: thick solid rgb(107, 124, 103);
    width: 1480px;
    border-radius: 8px;
    text-shadow: 2px 2px 5px red;
    box-shadow: 10px 10px 5px darkgrey;
    background-color: black;
    color: rgb(158, 226, 243);
    font-family: 'Grenze Gotisch', cursive;
    animation-name: animate1; 
    animation-duration: 4s; 
} 

@keyframes animate1 {
    from {
       background-color: black;
       color: lightskyblue;
       border-radius: 5%;
     } to {
       background-color: rgb(179, 174, 167);
       color: rgb(14, 13, 13);
       border-radius: 70%;
     }
   }

body {
        /* background-image: linear-gradient(-90deg, black, grey); */
       background-image: url(https://i.pinimg.com/564x/d1/5d/fc/d15dfc114fdc960e17d3e02710dbcbe1.jpg);
       background-size: cover; 
       height: calc(100vh - 300vh);
}

h2 {
    text-align: center;
    font-weight: 300;
    height: 15vh;
    color:red;
    text-shadow: 2px 2px 5px black;
    font-style: normal;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 8vh;
    text-decoration: blink;
    margin-bottom: auto;
    margin-top: auto;

    /* border: thin solid black; */
}

input[type=submit] {
    /* background-color: white; 
    color: black; 
    border: 2px solid #f44336; */
    text-align: center;
    margin: auto;
    margin-left: 645px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: rgb(214, 34, 34);
    color: black;
    font-weight: bold;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 30px;
   }

a {
    text-align: center;
    width: 100px;
    margin: auto;
    margin-left: 700px;
    margin-bottom: auto;
    margin-top: auto;
    color: red;
     text-shadow: 2px 2px 5px black;
    font-size: 25px;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: bold;

}
p {
    text-align: center;
    width: 550px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: auto;
    color: rgb(23, 16, 24);
    font-size: 23px;
    font-family: 'Bubblegum Sans';
    font-weight: lighter;

}
footer {
    text-align: center;
    height: 200px;
    font-size: larger;
    font-family: 'Bubblegum Sans';
    font-weight: lighter;margin-top: 10px;
}